*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*  This defines what 1rem is */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.navigation__nav,
.navigation {
    color: #fff;
    position: relative;
    padding-bottom: 25rem;
}

.navigation .heading-primary {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    margin: auto;
    color: #fff;
    padding-bottom: 2rem;
    font-size: 5rem;
}

.arrow-down {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    display: block;
    /* margin: auto; */
    /* text-align: center; */
    font-size: 20rem;
    font-weight: 100;
    /* width: 3rem; */
    margin-top: 15rem;
    /* text-align: center; */
}

@media only screen and (max-width: 50rem) {
    .arrow-down {
        font-size: 15rem;
        margin-top: 5rem;
    }
}

.header--logo {
    color: #fff;
    /* position: relative; */
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Fraunces', sans-serif;
    /* position: absolute; */
    /* text-transform: uppercase; */
}

.navigation {
    background: url(./images/desktop/image-header.jpg) no-repeat center center/cover;
}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}

.navigation__background {
    height: 5rem;
    width: 5rem;
    border-radius: 25%;
    position: absolute;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    /* transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); */
    transition: all .5s;
    padding-right: 0;
}

.navigation__nav {
    height: 80vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 1;
    width: 100vw;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* padding-top: 3rem; */
}

.navigation__list {
    position: absolute;
    text-align: center;
    right: 3rem;
    top: 3rem;
}

@media only screen and (min-width: 50rem) {
    .navigation__button {
        width: 0;
        opacity: 0;
    }
    .navigation__background {
        width: 0;
        opacity: 0;
    }
}

.navigation__item {
    margin: 1rem;
    display: inline;
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
    display: inline;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s;
}

.navigation-contact {
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    display: inline;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #000;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    background-color: #fff;
    border-radius: 20rem;
}

.navigation__link:hover,
.navigation__link:active {
    background-position: 100%;
    color: #000;
    transform: translateX(1rem);
    border-radius: 1rem;
}

.navigation__checkbox:checked~.navigation__background {
    height: 50%;
    width: 60%;
    border-radius: 2rem;
}

.navigation__checkbox:checked~.navigation__nav {
    opacity: 1;
    width: 100%;
}

@media only screen and (max-width: 50rem) {
    .navigation__item {
        display: block;
        margin: 3rem;
    }
    .navigation__nav {
        opacity: 0;
        width: 0;
        top: 0;
        right: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navigation__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.navigation__icon {
    position: relative;
    margin-top: 3.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.navigation__icon::before {
    top: -.8rem;
}

.navigation__icon::after {
    top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
    top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.heading-primary {
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    font-family: 'Fraunces', sans-serif;
}

.heading-secondary {
    font-size: 4rem;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Fraunces', sans-serif;
    text-align: center;
}

p {
    color: hsl(228, 45%, 44%);
    font-size: 1.6rem;
}

main p {
    width: 40rem;
}

.transform-standout {
    margin: auto;
    display: flex;
    position: relative;
    margin: auto;
}

.transfrom-brand,
.stand-out {
    width: 50%;
    text-align: center;
    margin: auto;
    position: relative;
}

.transform-standout img {
    width: 50%;
}

@media only screen and (max-width: 50rem) {
    .transform-standout {
        flex-direction: column;
    }
    .transfrom-brand,
    .stand-out {
        width: 100%;
    }
    .transform-standout img {
        width: 100%;
    }
}

.transform-standout p,
.stand-out p {
    width: 100%;
    padding: 3rem 10rem;
}

button,
img {
    display: block;
    /* position: cover; */
}

.learn-more-btn {
    /* margin: auto; */
    border: none;
    color: white;
    background-color: white;
    margin-top: 3rem;
    text-transform: uppercase;
}

.learn-more-btn a {
    text-decoration: none;
    background-color: none;
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    /* border-bottom: 1rem solid red; */
}

.learn-more-btn a:hover {
    padding: .5rem;
    border-bottom: .6rem solid orange;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.transfrom-brand .learn-more-btn {
    padding: .5rem;
    border-bottom: .6rem solid hsl(51, 100%, 49%);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.stand-out .learn-more-btn {
    padding: .5rem;
    border-bottom: .6rem solid hsl(7, 99%, 70%);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.graphic-design-photography {
    display: flex;
    text-align: center;
    margin: auto;
    margin-bottom: 10rem;
}

.graphic-design {
    background: url(./images/desktop/image-graphic-design.jpg) no-repeat center center/cover;
    min-height: 40rem;
    width: 50%;
    color: hsl(167, 40%, 24%);
}

.Photography {
    background: url(./images/desktop/image-photography.jpg) no-repeat center center/cover;
    min-height: 40rem;
    width: 50%;
    color: hsl(198, 62%, 26%)
    /* text-align: center; */
}

@media only screen and (max-width: 50rem) {
    .graphic-design-photography {
        flex-direction: column;
    }
    .graphic-design {
        width: 100%;
    }
    .Photography {
        width: 100%;
    }
}

.graphic-design h2,
.Photography h2 {
    padding-top: 35rem;
    width: 100%;
    /* margin-top: 10rem; */
}

.graphic-design p,
.Photography p {
    width: 100%;
    padding: 2.5% 30% 10% 10%;
    text-indent: -1.7rem;
    margin: auto;
}

p {
    font-family: 'Barlow', sans-serif;
}

.clients-testimonials {
    min-height: 50rem;
    display: flex;
    text-align: center;
    padding-bottom: 13rem;
}

.client__image {
    margin: auto;
    border-radius: 50%;
    /* padding-top: 10rem; */
}

.client__emily,
.client__thomas,
.client__jennie {
    width: 33.3333%;
    padding-top: 12rem;
}

@media only screen and (max-width: 50rem) {
    .clients-testimonials {
        flex-direction: column;
    }
    .client__emily,
    .client__thomas,
    .client__jennie {
        width: 100%;
        height: auto;
    }
}

.client__paragraph {
    padding-left: 4rem;
    /* margin: 0rem 9rem; */
    /* width: 100%; */
    width: 90%;
    padding-top: 2em;
    color: hsl(232, 10%, 55%);
    padding-bottom: 3rem;
}

.clnt-test .heading-secondary {
    /* padding-top: 3rem; */
    color: hsl(240, 20%, 1%);
}

.client__name {
    display: block;
    color: #000;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.image-gallery {
    float: left;
    width: 25%;
    padding-bottom: 8rem;
    /* margin-top: 3rem; */
}

footer {
    background-color: hsl(168, 34%, 41%);
    text-align: center;
    padding-bottom: 5em;
}

footer .heading-secondary {
    font-family: 'Fraunces', sans-serif;
    text-transform: lowercase;
    font-weight: 900;
    line-height: 5rem;
    padding-bottom: .5em;
}

footer ul {
    margin-top: 2.5rem;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
}

footer a {
    color: rgb(49, 43, 43);
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
}

footer ul li {
    display: inline;
    list-style: none;
    margin: 2rem;
    padding-bottom: 8rem;
}

footer a {
    text-decoration: none;
    font-size: 1.8rem;
    padding-bottom: 8rem;
}

footer a:hover {
    font-size: 2rem;
    color: #fff;
}

.icons a {
    margin-bottom: 8rem;
    font-size: 2.5rem;
    /* color: #fff; */
}

.icons a:hover {
    font-size: 2.8rem;
    color: #fff;
}

.ionicons {
    padding: 2rem;
}